body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9faf8;
}

li.header-logo {
    margin-right: auto;
}

.header,
.under-header,
.footer {
    background-color: #1F2937;
}

.header {
    padding-right: 130px;
    padding-left: 90px;
}

.header-logo {
    color: #F9faf8;
    font-size: 24px;
}

li,
.secondary-text,
.footer,
.call-to-action-heading,
.call-to-action-sentence {
    color: #E5E7EB;
}

.under-header {
    display: flex;
    padding-top: 75px;
    padding-bottom: 150px;
    justify-content: center;
}

.under-header-left {
    max-width: 500px;
}

.secondary-text {
    max-width: 400px;
    padding-bottom: 10px;
}

.under-header-left button {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-color:#3882f6;
    font-weight: bold;
}

.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 500px;
    height: 250px;
}

.image-placeholder-text {
    color:#F9faf8;
}

.random-information {
    padding-top: 40px;
    padding-bottom: 80px;
}

.random-information-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding-bottom: 40px;
}

button {
    background-color: #3882f6;
    color: #F9faf8;
}

.section-1-image,
.section-2-image,
.section-3-image,
.section-4-image {
    width: 150x; 
    height: 150px;
    border: 3px solid;
    border-radius: 16px;
    color: #3882f6;
}

.section-1-subtext,
.section-2-subtext,
.section-3-subtext,
.section-4-subtext {
    max-width: 150px;
    color: #1F2937;
    text-align: center;
    padding-top: 5px;
}

.sections {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.quote-block {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
}

.quote-quoted-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quoted {
    font-weight: bold;
    align-self: flex-end;
}

.call-to-action-block {
    display: flex;
    justify-content: center;
}

.blue-block {
    display: flex;
    background-color: #3882f6;
    gap: 100px;
    padding: 35px;
    margin: 50px;
    border-radius: 10px;
}

.call-to-action-heading {
    font-weight: bold;
}

.blue-block button {
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: #E5E7EB;
    font-weight: bold;
}

.footer {
    text-align: center;
    padding: 30px;
}