body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9faf8;
}

li.header-logo {
    margin-right: auto;
}

.header,
.under-header,
.footer {
    background-color: #1F2937;
}

.header-logo {
    color: #F9faf8;
}

.header-logo {
    font-size: 24px;
}

li,
.secondary-text,
.footer {
    color: #E5E7EB;
}

.under-header {
    display: flex;
}

.random-information-heading {
    text-align: center;
}

.section-1-image,
.section-2-image,
.section-3-image,
.section-4-image {
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 16px;
}

.section-1-subtext,
.section-2-subtext,
.section-3-subtext,
.section-4-subtext {
    max-width: 100px;
}

.sections {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.quote-block {
    background-color: #E5E7EB;
}

.quote {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quoted {
    text-align: center;
}

.footer {
    text-align: center;
    padding: 30px;
}